@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }
}

@function px($px) {
  @return ($px / 375) * 100vw;
}

@mixin scrollbar($direction: vertical, $size: 6px) {
  &::-webkit-scrollbar {
    @if $direction == horizontal {
      height: $size;
    } @else if $direction == vertical {
      width: $size;
    }
  
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    background: rgba(199, 199, 199, .7);
    border-radius: 2px;
  }
}

@mixin notExceed () {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}